
.box-title{
    height: 40px;
    width: 100%;
    background-color: #287f87;
    border-top: 1px solid #24696f;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    padding-left: 16px;
    box-sizing: border-box;
}
.add-cash-box{
    background-color: #ffffff;
    height: 100%;
    padding: 20px 40px;
}
.box-second-title{
    font-size: 14px;
    color: #444444;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ecf0f5;
    position: relative;
    padding-left: 16px;
}
.box-second-title:before{
    content: '';
    width: 5px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #f15950;
}
.select-rule{
    margin: 18px 30px;
}
.create-rule-btn,.select-area-button{
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background-color: #f15928;
}
.select-area-button{
     width: 97px;
    border-radius: 19px;
}
.create-rule-btn{
    width: 63px;
    border-radius: 19px;
}
.option-title{
    display: inline-block;
    width: 163px;
    text-align: right;
    padding-right: 25px;
    box-sizing: border-box;
}
ul.open-state{
    display: inline-block;
}
ul.open-state li{
    display: inline-block;
    margin-right: 10px;
}
input[name='open-state']{
    width: 30px;
    height: 30px;
}
.input-width{
    width: 250px;
}
/*地区选择样式*/
#area-box{
    display: none;
    margin: 18px;
    border: 1px solid #d2d6de;
    box-sizing: border-box;
    padding: 10px 22px;
}
#area-box .cityBox{
    border-bottom: dashed 1px #c9c9c9;
    padding: 15px 0;
}
#area-box .cityBox:last-child {
    border-bottom:none;
}
.regionName{
    font-size: 14px;
    color: #444444;
    margin-bottom: 15px;
}
.cityUl li{
    display: inline-block;
    font-size: 14px;
    color: #888888;
    margin-right: 15px;
}
.cityUl li input{
    width: 25px;
}
.btn-box {
    width: 250px;
    margin: 10px auto;
}
.btn-box .cancel-button{
    margin-right: 10px;
}

.addCity-box{
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    overflow: hidden;
}
.addCity-box p{
    float: left;
    width: 80px;
    font-size: 14px;
    color: #888888;
}
.addCityUl{
    float: left;
    width: 615px;
}
.addCityUl ul{
    display: inline-block;
}
.addCity-box .addCityUl li{
    color: #f15928;
}
.goodsConfig-box{
    width: 625px;
    margin: 0 0 0 65px;
    background-color: #f4f4f4;
    overflow: hidden;
}
.goodsConfig-box p{
    float: left;
    width: 130px;
    padding: 14px;
    box-sizing: border-box;
}
.goodsConfig-box ul{
    float: left;
    width: 495px;
}
.goodsConfig-box ul li{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dashed #d1d3d6;
}
.goodsConfig-box ul li:last-child{
    border-bottom: none;
}
.goodsConfig-box span.goodsConfig{
    display: inline-block;
    width: 150px;
    padding-left: 10px;
    box-sizing: border-box;
}
.goodsConfig-box ul li a{
    text-decoration:underline;
    color: #11569b;
}
/*错误添加红色框*/
.add-red-border{
    border: 1px solid #f55d5e;
}