<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.mana.dao.mapper.customer.ManaCustomerPreferentialLogDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.mana.beans.entity.customer.ManaCustomerPreferentialLogDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="customer_vehicle_id" property="customerVehicleId" jdbcType="INTEGER" />
    <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR" />
    <result column="send_date" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="preferential_content" property="preferentialContent" jdbcType="VARCHAR" />
    <result column="preferential_type" property="preferentialType" jdbcType="INTEGER" />
    <result column="preferential_num" property="preferentialNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_create, gmt_modified, creator, modifier, customer_vehicle_id, 
    customer_mobile, send_date, preferential_content, preferential_type, preferential_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mana_customer_preferential_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mana_customer_preferential_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.tqmall.mana.beans.entity.customer.ManaCustomerPreferentialLogDO" >
    insert into mana_customer_preferential_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="customerVehicleId != null" >
        customer_vehicle_id,
      </if>
      <if test="customerMobile != null" >
        customer_mobile,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="preferentialContent != null" >
        preferential_content,
      </if>
      <if test="preferentialType != null" >
        preferential_type,
      </if>
      <if test="preferentialNum != null" >
        preferential_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="customerVehicleId != null" >
        #{customerVehicleId,jdbcType=INTEGER},
      </if>
      <if test="customerMobile != null" >
        #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="preferentialContent != null" >
        #{preferentialContent,jdbcType=VARCHAR},
      </if>
      <if test="preferentialType != null" >
        #{preferentialType,jdbcType=INTEGER},
      </if>
      <if test="preferentialNum != null" >
        #{preferentialNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.mana.beans.entity.customer.ManaCustomerPreferentialLogDO" >
    update mana_customer_preferential_log
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="customerVehicleId != null" >
        customer_vehicle_id = #{customerVehicleId,jdbcType=INTEGER},
      </if>
      <if test="customerMobile != null" >
        customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="preferentialContent != null" >
        preferential_content = #{preferentialContent,jdbcType=VARCHAR},
      </if>
      <if test="preferentialType != null" >
        preferential_type = #{preferentialType,jdbcType=INTEGER},
      </if>
      <if test="preferentialNum != null" >
        preferential_num = #{preferentialNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPreferentialDOList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from mana_customer_preferential_log
    where is_deleted = 'N'
    and customer_vehicle_id = #{vehicleId,jdbcType=INTEGER}
    order by send_date desc
  </select>

  <sql id="preferentialPaging_condition">
    <where>
      is_deleted = 'N'
      <if test="customerVehicleId != null">
        and customer_vehicle_id = #{customerVehicleId,jdbcType=INTEGER}
      </if>
    </where>
    order by send_date desc
  </sql>

  <select id="getPreferentialPagingList" resultMap="BaseResultMap" parameterType="com.tqmall.mana.beans.param.PreferentialPageParam">
    select
    <include refid="Base_Column_List" />
    from mana_customer_preferential_log
    <include refid="preferentialPaging_condition"/>
    limit #{offerSet},#{pageSize}
  </select>

  <select id="getPreferentialPagingCount" resultType="java.lang.Integer" parameterType="com.tqmall.mana.beans.param.PreferentialPageParam">
    select count(1)
    from mana_customer_preferential_log
    <include refid="preferentialPaging_condition"/>
  </select>

</mapper>