<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.mana.dao.mapper.customer.ManaCustomerAddressDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.mana.beans.entity.customer.ManaCustomerAddressDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_province" property="customerProvince" jdbcType="INTEGER" />
    <result column="customer_city" property="customerCity" jdbcType="INTEGER" />
    <result column="customer_district" property="customerDistrict" jdbcType="INTEGER" />
    <result column="customer_address" property="customerAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_create, gmt_modified, creator, modifier, customer_id, customer_province, 
    customer_city, customer_district, customer_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mana_customer_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mana_customer_address
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.tqmall.mana.beans.entity.customer.ManaCustomerAddressDO" >
    insert into mana_customer_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerProvince != null" >
        customer_province,
      </if>
      <if test="customerCity != null" >
        customer_city,
      </if>
      <if test="customerDistrict != null" >
        customer_district,
      </if>
      <if test="customerAddress != null" >
        customer_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerProvince != null" >
        #{customerProvince,jdbcType=INTEGER},
      </if>
      <if test="customerCity != null" >
        #{customerCity,jdbcType=INTEGER},
      </if>
      <if test="customerDistrict != null" >
        #{customerDistrict,jdbcType=INTEGER},
      </if>
      <if test="customerAddress != null" >
        #{customerAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.mana.beans.entity.customer.ManaCustomerAddressDO" >
    update mana_customer_address
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerProvince != null" >
        customer_province = #{customerProvince,jdbcType=INTEGER},
      </if>
      <if test="customerCity != null" >
        customer_city = #{customerCity,jdbcType=INTEGER},
      </if>
      <if test="customerDistrict != null" >
        customer_district = #{customerDistrict,jdbcType=INTEGER},
      </if>
      <if test="customerAddress != null" >
        customer_address = #{customerAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAddressListById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
      <include refid="Base_Column_List"/>
    from mana_customer_address
    where customer_id = #{customerId,jdbcType=INTEGER}
      and is_deleted = 'N'
    order by gmt_create desc
  </select>

</mapper>