<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.mana.dao.mapper.insurance.OtherCityDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.mana.beans.entity.insurance.OtherCityDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_all_name" property="cityAllName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="source_name" property="sourceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_modified, gmt_create, province_name, province_code, city_name, 
    city_all_name, city_code, source_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mana_other_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mana_other_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.mana.beans.entity.insurance.OtherCityDO" >
    insert into mana_other_city (id, is_deleted, gmt_modified, 
      gmt_create, province_name, province_code, 
      city_name, city_all_name, city_code, 
      source_name)
    values (#{id,jdbcType=INTEGER}, #{isDeleted,jdbcType=CHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{provinceName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{cityAllName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{sourceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.mana.beans.entity.insurance.OtherCityDO" >
    insert into mana_other_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityAllName != null" >
        city_all_name,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="sourceName != null" >
        source_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityAllName != null" >
        #{cityAllName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null" >
        #{sourceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.mana.beans.entity.insurance.OtherCityDO" >
    update mana_other_city
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityAllName != null" >
        city_all_name = #{cityAllName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null" >
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.mana.beans.entity.insurance.OtherCityDO" >
    update mana_other_city
    set is_deleted = #{isDeleted,jdbcType=CHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      province_name = #{provinceName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_all_name = #{cityAllName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      source_name = #{sourceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mana_other_city
  </select>
</mapper>