.p-title {
    font-size: 14px;
    color: #999999;
    height: 40px;
    line-height: 35px;
}
.add-box {
    margin-top: 10px;
    padding-top: 14px;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    background-color: #ffffff;
    box-sizing: border-box;
}
.inner-box{
    border-bottom: 1px solid #f4f4f4;
}
.btn-div{
    padding: 10px 0 20px 10px;
    box-sizing: border-box;
}
.cancel-button,.sure-button{
    width: 100px;
    height: 40px;
    border-radius: 2px;
}
.sure-button{
    background: #287f87;
    color: #ffffff;
    border: 1px solid #24696f;
}
.cancel-button{
    background: #f4f4f4;
    color: #999999;
    border: 1px solid #d2d6de;
    margin-left: 10px;
}
.ueditor-outer{
    padding: 15px 0 20px 20px;
}