<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.mana.dao.mapper.OtherInsuranceRelationDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.mana.beans.entity.insurance.OtherInsuranceRelationDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="anxin_insurance_name" property="anxinInsuranceName" jdbcType="VARCHAR" />
    <result column="ping_an_insurance_name" property="pingAnInsuranceName" jdbcType="VARCHAR" />
    <result column="ping_an_deductible" property="pingAnDeductible" jdbcType="VARCHAR" />
    <result column="ren_insurance_name" property="renInsuranceName" jdbcType="VARCHAR" />
    <result column="ren_deductible" property="renDeductible" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_modified, gmt_create, anxin_insurance_name, ping_an_insurance_name, 
    ping_an_deductible, ren_insurance_name, ren_deductible
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mana_other_insurance_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mana_other_insurance_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.tqmall.mana.beans.entity.insurance.OtherInsuranceRelationDO" >
    insert into mana_other_insurance_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="anxinInsuranceName != null" >
        anxin_insurance_name,
      </if>
      <if test="pingAnInsuranceName != null" >
        ping_an_insurance_name,
      </if>
      <if test="pingAnDeductible != null" >
        ping_an_deductible,
      </if>
      <if test="renInsuranceName != null" >
        ren_insurance_name,
      </if>
      <if test="renDeductible != null" >
        ren_deductible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="anxinInsuranceName != null" >
        #{anxinInsuranceName,jdbcType=VARCHAR},
      </if>
      <if test="pingAnInsuranceName != null" >
        #{pingAnInsuranceName,jdbcType=VARCHAR},
      </if>
      <if test="pingAnDeductible != null" >
        #{pingAnDeductible,jdbcType=VARCHAR},
      </if>
      <if test="renInsuranceName != null" >
        #{renInsuranceName,jdbcType=VARCHAR},
      </if>
      <if test="renDeductible != null" >
        #{renDeductible,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.mana.beans.entity.insurance.OtherInsuranceRelationDO" >
    update mana_other_insurance_relation
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="anxinInsuranceName != null" >
        anxin_insurance_name = #{anxinInsuranceName,jdbcType=VARCHAR},
      </if>
      <if test="pingAnInsuranceName != null" >
        ping_an_insurance_name = #{pingAnInsuranceName,jdbcType=VARCHAR},
      </if>
      <if test="pingAnDeductible != null" >
        ping_an_deductible = #{pingAnDeductible,jdbcType=VARCHAR},
      </if>
      <if test="renInsuranceName != null" >
        ren_insurance_name = #{renInsuranceName,jdbcType=VARCHAR},
      </if>
      <if test="renDeductible != null" >
        ren_deductible = #{renDeductible,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from mana_other_insurance_relation
    where is_deleted = 'N'
  </select>

</mapper>