<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.mana.dao.mapper.settle.SettleScenarioInsuranceCategoryRelDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.mana.beans.entity.settle.SettleScenarioInsuranceCategoryRelDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="insurance_company_id" property="insuranceCompanyId" jdbcType="INTEGER" />
    <result column="scenario_type" property="scenarioType" jdbcType="TINYINT" />
    <result column="scenario_weight" property="scenarioWeight" jdbcType="INTEGER" />
    <result column="insurance_category_code" property="insuranceCategoryCode" jdbcType="VARCHAR" />
    <result column="insurance_category_name" property="insuranceCategoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_create, gmt_modified, creator, modifier, insurance_company_id, 
    scenario_type, scenario_weight, insurance_category_code, insurance_category_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from settle_scenario_insurance_category_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from settle_scenario_insurance_category_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.mana.beans.entity.settle.SettleScenarioInsuranceCategoryRelDO" >
    insert into settle_scenario_insurance_category_rel (id, is_deleted, gmt_create, 
      gmt_modified, creator, modifier, 
      insurance_company_id, scenario_type, scenario_weight, 
      insurance_category_code, insurance_category_name
      )
    values (#{id,jdbcType=INTEGER}, #{isDeleted,jdbcType=CHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{insuranceCompanyId,jdbcType=INTEGER}, #{scenarioType,jdbcType=TINYINT}, #{scenarioWeight,jdbcType=INTEGER}, 
      #{insuranceCategoryCode,jdbcType=VARCHAR}, #{insuranceCategoryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.mana.beans.entity.settle.SettleScenarioInsuranceCategoryRelDO" >
    insert into settle_scenario_insurance_category_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="insuranceCompanyId != null" >
        insurance_company_id,
      </if>
      <if test="scenarioType != null" >
        scenario_type,
      </if>
      <if test="scenarioWeight != null" >
        scenario_weight,
      </if>
      <if test="insuranceCategoryCode != null" >
        insurance_category_code,
      </if>
      <if test="insuranceCategoryName != null" >
        insurance_category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompanyId != null" >
        #{insuranceCompanyId,jdbcType=INTEGER},
      </if>
      <if test="scenarioType != null" >
        #{scenarioType,jdbcType=TINYINT},
      </if>
      <if test="scenarioWeight != null" >
        #{scenarioWeight,jdbcType=INTEGER},
      </if>
      <if test="insuranceCategoryCode != null" >
        #{insuranceCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCategoryName != null" >
        #{insuranceCategoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.mana.beans.entity.settle.SettleScenarioInsuranceCategoryRelDO" >
    update settle_scenario_insurance_category_rel
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompanyId != null" >
        insurance_company_id = #{insuranceCompanyId,jdbcType=INTEGER},
      </if>
      <if test="scenarioType != null" >
        scenario_type = #{scenarioType,jdbcType=TINYINT},
      </if>
      <if test="scenarioWeight != null" >
        scenario_weight = #{scenarioWeight,jdbcType=INTEGER},
      </if>
      <if test="insuranceCategoryCode != null" >
        insurance_category_code = #{insuranceCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCategoryName != null" >
        insurance_category_name = #{insuranceCategoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.mana.beans.entity.settle.SettleScenarioInsuranceCategoryRelDO" >
    update settle_scenario_insurance_category_rel
    set is_deleted = #{isDeleted,jdbcType=CHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      insurance_company_id = #{insuranceCompanyId,jdbcType=INTEGER},
      scenario_type = #{scenarioType,jdbcType=TINYINT},
      scenario_weight = #{scenarioWeight,jdbcType=INTEGER},
      insurance_category_code = #{insuranceCategoryCode,jdbcType=VARCHAR},
      insurance_category_name = #{insuranceCategoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllScenarioTypeByCompany" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from settle_scenario_insurance_category_rel
    where is_deleted='N' and insurance_company_id=#{companyId}
  </select>
</mapper>