<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.mana.dao.mapper.settle.SettleShopRuleDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.mana.beans.entity.settle.SettleShopRuleDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="insurance_company_id" property="insuranceCompanyId" jdbcType="INTEGER" />
    <result column="insurance_company_name" property="insuranceCompanyName" jdbcType="VARCHAR" />
    <result column="apply_range" property="applyRange" jdbcType="TINYINT" />
    <result column="cooperation_mode" property="cooperationMode" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_create, gmt_modified, creator, modifier, insurance_company_id, 
    insurance_company_name, apply_range, cooperation_mode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from settle_shop_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from settle_shop_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.tqmall.mana.beans.entity.settle.SettleShopRuleDO"
          useGeneratedKeys="true" keyProperty="id">
    insert into settle_shop_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="insuranceCompanyId != null" >
        insurance_company_id,
      </if>
      <if test="insuranceCompanyName != null" >
        insurance_company_name,
      </if>
      <if test="applyRange != null" >
        apply_range,
      </if>
      <if test="cooperationMode != null" >
        cooperation_mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompanyId != null" >
        #{insuranceCompanyId,jdbcType=INTEGER},
      </if>
      <if test="insuranceCompanyName != null" >
        #{insuranceCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="applyRange != null" >
        #{applyRange,jdbcType=TINYINT},
      </if>
      <if test="cooperationMode != null" >
        #{cooperationMode,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.mana.beans.entity.settle.SettleShopRuleDO">
    update settle_shop_rule
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompanyId != null" >
        insurance_company_id = #{insuranceCompanyId,jdbcType=INTEGER},
      </if>
      <if test="insuranceCompanyName != null" >
        insurance_company_name = #{insuranceCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="applyRange != null" >
        apply_range = #{applyRange,jdbcType=TINYINT},
      </if>
      <if test="cooperationMode != null" >
        cooperation_mode = #{cooperationMode,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <sql id="selectShopRuleComm">
    select r.id, r.insurance_company_name as insuranceCompanyName,
    r.cooperation_mode as cooperationMode, r.apply_range as applyRange
  </sql>
  <sql id="selectShopRuleConditionComm">
    <if test="insuranceCompanyId != null">
      and r.insurance_company_id = #{insuranceCompanyId}
    </if>
    <if test="cooperationModes != null">
      and r.cooperation_mode in
      <foreach collection="cooperationModes" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    and r.is_deleted = 'N'
  </sql>

  <!-- 仅查询 settle_shop_rule -->
  <sql id="selectShopRuleCondition">
    from settle_shop_rule r
    <where>
      <include refid="selectShopRuleConditionComm"/>
    </where>
  </sql>
  <select id="selectShopRulePage" resultType="com.tqmall.mana.beans.entity.settle.SettleShopRuleDO" parameterType="com.tqmall.mana.beans.param.settle.SettleShopRulePageParam" >
    <include refid="selectShopRuleComm"/>
    <include refid="selectShopRuleCondition"/>
    order by id desc
    limit #{offerSet}, #{pageSize}
  </select>
  <select id="selectShopRuleCount" resultType="java.lang.Integer" parameterType="com.tqmall.mana.beans.param.settle.SettleShopRulePageParam" >
    select count(1)
    <include refid="selectShopRuleCondition"/>
  </select>


  <!-- 关联地区配置表查询 -->
  <sql id="selectShopRuleForRegionCondition">
    from settle_shop_rule r,settle_shop_rule_region_config rc
    <where>
      r.id=rc.settle_rule_id
      <include refid="selectShopRuleConditionComm"/>
      <if test="provinceCode != null">
        and rc.province_code = #{provinceCode}
      </if>
      <if test="cityCode != null">
        and rc.city_code = #{cityCode}
      </if>
      and rc.is_deleted='N'
      group by r.id
    </where>
  </sql>
  <select id="selectShopRuleForRegionPage" resultType="com.tqmall.mana.beans.entity.settle.SettleShopRuleDO" parameterType="com.tqmall.mana.beans.param.settle.SettleShopRulePageParam" >
    <include refid="selectShopRuleComm"/>
    <include refid="selectShopRuleForRegionCondition"/>
    order by r.id desc
    limit #{offerSet}, #{pageSize}
  </select>
  <select id="selectShopRuleForRegionCount" resultType="java.lang.Integer" parameterType="com.tqmall.mana.beans.param.settle.SettleShopRulePageParam" >
    select count(1)
    from
    (select r.id
    <include refid="selectShopRuleForRegionCondition"/>
    ) tt
  </select>


  <!-- 关联门店配置表查询 -->
  <sql id="selectShopRuleForShopCondition">
    from settle_shop_rule r, settle_shop_rule_shop_config sc
    <where>
      r.id=sc.settle_rule_id
      <include refid="selectShopRuleConditionComm"/>
      <if test="shopId != null">
        and sc.shop_id = #{shopId}
      </if>
      and sc.is_deleted='N'
      group by r.id
    </where>
  </sql>
  <select id="selectShopRuleForShopPage" resultType="com.tqmall.mana.beans.entity.settle.SettleShopRuleDO" parameterType="com.tqmall.mana.beans.param.settle.SettleShopRulePageParam" >
    <include refid="selectShopRuleComm"/>
    <include refid="selectShopRuleForShopCondition"/>
    order by r.id desc
    limit #{offerSet}, #{pageSize}
  </select>
  <select id="selectShopRuleForShopCount" resultType="java.lang.Integer" parameterType="com.tqmall.mana.beans.param.settle.SettleShopRulePageParam" >
    select count(1)
    from
    (select r.id
    <include refid="selectShopRuleForShopCondition"/>
    ) tt
  </select>



  <select id="selectIdWithShopConfig" resultType="java.lang.Integer" parameterType="com.tqmall.mana.beans.param.settle.ShopSettleRateQueryParam" >
    select sr.id
    from settle_shop_rule sr, settle_shop_rule_shop_config sc
    where sr.id=sc.settle_rule_id
    and sr.is_deleted='N' and sc.is_deleted='N'
    and sr.insurance_company_id = #{insuranceCompanyId}
    and sr.cooperation_mode = #{cooperationMode}
    and sc.shop_id = #{shopId}
    limit 1
  </select>

  <select id="selectIdWithRegionConfig" resultType="java.lang.Integer" parameterType="com.tqmall.mana.beans.param.settle.ShopSettleRateQueryParam" >
    select sr.id
    from settle_shop_rule sr, settle_shop_rule_region_config rc
    where sr.id=rc.settle_rule_id
    and sr.is_deleted='N' and rc.is_deleted='N'
    and sr.insurance_company_id = #{insuranceCompanyId}
    and sr.cooperation_mode = #{cooperationMode}
    and rc.city_code = #{cityCode}
    limit 1
  </select>

  <select id="selectRuleIdListByCooperationMode" resultType="java.lang.Integer">
    select id
    from settle_shop_rule
    where is_deleted = 'N'
    and apply_range = '1'
    and cooperation_mode = #{cooperationMode}
    and insurance_company_id = #{companyId}
  </select>

</mapper>